@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'open sans', sans-serif;
}

.container {

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("./img/fundo2.png");
}

.content {
    background-color: #DBB3B3;
    border-radius: 15px;
    width: 960px;
    height: 65%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.content::before {
    content: "";
    position: absolute;
    background-color: #CD294C;
    width: 40%;
    height: 100%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;


    left: 0;

}

.title {
    font-size: 28px;
    font-weight: bold;
    text-transform: capitalize;
}

.title-primary {
    color: #DBB3B3;
}

.title-second {
    color: #CD294C;

}

.description {
    font-size: 14px;
    font-weight: 300;
    color: #DBB3B3;
    line-height: 30px;
}

.description-primary {
    color: #DBB3B3;
}

.description-second {
    color: #eed0d6;
}

.btn {
    border-radius: 15px;
    text-transform: uppercase;
    color: #DBB3B3;
    font-size: 10px;
    padding: 10px 50px;
    cursor: pointer;
    font-weight: bold;
    width: 158px;
    align-self: center;
    border-width: 0;
    border: none;
    margin-top: 1rem;
}

.btn-primary {
    background-color: transparent;
    border: solid 1px #DBB3B3;
    transition: background-color .5s;
}

.btn-second {
    background-color: #CD294C;
    border: 1px solid #CD294C;
    transition: background-color .5s;
}

.btn-primary:hover {
    background-color: #DBB3B3;
    color: #CD294C;
}

.btn-second:hover {
    background-color: #DBB3B3;
    color: #CD294C;
    border: 1px solid #CD294C;
}

.first-content {
    display: flex;
}

.first-content .second-column {
    z-index: 12;
}

.link-social-media:not(:first-child) {
    margin-left: 10px;
}

.link-social-media .item-social-media {
    transition: background-color .5s;
}

.link-social-media:hover .item-social-media {
    background-color: #CD294C;
    color: #DBB3B3;
    border: 1px solid #CD294C;
}

.list-social-media {
    display: flex;
    list-style-type: none;
}

.item-social-media {
    border: 1px solid#eed0d6;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    color: #eed0d6;
}

.first-column {
    text-align: center;
    width: 40%;
    z-index: 10;
}

.second-column {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-media {
    margin: 1rem 0;
}

.formulario {
    display: flex;
    flex-direction: column;
    width: 55%;

}

.formulario input {
    height: 45px;
    width: 100%;
    border: none;
    background-color: #eed0d6;
    color: #CD294C;

}

.label-input {
    background-color: #eed0d6;
    display: flex;
    align-items: center;
    margin: 8px;
}

.icon-modify {
    color: #CD294C;
    padding: 0 5px;
}

/* Second Content*/
.second-content {
    position: absolute;
    display: flex;
}

.second-content .first-column {
    order: 2;
    z-index: -1;
}

.second-content .second-column {
    order: 1;
    z-index: -1;
}

.password {
    color: #eed0d6;
    font-size: 14px;
    font-weight: 700;
    margin: 15px 0;
    text-align: center;

}

.password::first-letter {
    text-transform: capitalize;
}

.sign-in-js .first-content .first-column,
.sign-in-js .first-content .second-column {
    z-index: -1;
}

.sign-in-js .second-content .second-column {
    z-index: 12;
}
.sign-in-js .second-content .first-column{
    z-index: 14;
}

.sign-in-js .content::before {
left: 60%;
border-top-left-radius: 0;
border-bottom-left-radius: 0;
border-top-right-radius: 15px;
border-bottom-right-radius: 15px;
animation: slidein 2s;
z-index: 13;
}

.sign-up-js .content::before{
    animation: slideout 2s;
    z-index: 13;
}

.sign-up-js .second-content .first-column,
.sign-up-js .secon-content .second-column {
    z-index: -1;
}

.sign-up-js .first-content .second-column {
    z-index: 12;
}
.sign-up-js .first-content .first-column{
    z-index: 14;
}

/* DESLOCAMENTO CONTÉUDO ATRÁS DO CONTENT::BEFORE*/
.sign-in-js .first-content .first-column{
    z-index: -1;
    position: relative;
    animation: deslocamentoEsq 2s;
}
.sign-up-js .secon-content .second-column{
    position: relative;
    z-index: -1;
    animation: deslocamentoDir 2s;
}

/* ANIMAÇÃO CSS PARA CONTÉUDO*/
@keyframes  deslocamentoEsq{
    from{
        left: 0;
        opacity: 1;
        z-index: 13;
    }
    25%{
        left: -80px;
        opacity: .5;
    }
    50%{
        left: .100%;
        opacity: .2;
    }
    to{
        left: -110px;
        opacity: 0;
        z-index: -1;
    }
}
@keyframes deslocamentoDir {
    from{
        left: 0;
        z-index: 14;
    }
    25%{
        left: 80px;
        
    }50%{
        left: 100px;
    }to{
        left: 110px;
        z-index: -1;
    }
}

/*Aminação CSS*/
@keyframes slidein{
    from{
        left: 0;
        width: 40%;
    }
    25%{
        left: 5%;
        width: 50%;
    }
    50%{
        left: 25%;
        width: 60%;
    }
    75%{
        left: 45%;
        width: 50%;
    }
    to{
        left: 60%;
        width: 40%;
    }

}
@keyframes slideout {
    from{
        left: 60%;
        width: 40%;
    }
    25%{
        left: 45%;
        width: 50%;
    }
    50%{
        left: 25%;
        width: 60%;
    }
    75%{
        left: 5%;
        width: 50%;
    }
    to{
        left: 0;
        width: 40%;
    }
}